/* CARRITO */

.carrito-container {
    @include sizes (800px, 1000px);
    display: flex;
    flex-direction: column;
    overflow:auto;
    justify-content: flex-start;
    background:  #FCFFEB;
    border: 2px solid black;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.carrito-item {
    @include flex-between;
    @include sizes (600px, 150px);
    text-align: top;
    background: #333;
    margin: 8px auto;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    
    &:hover {
        transform: scale(1.02);
        background: #444;
        box-shadow: 2px 2px 3px 2px #121212;
    }
}



.carrito-item-img img {
    @include sizes (120px, 130px);
    object-fit: cover;
    margin: 10px;
    border-radius: 3px;
}

.carrito-item-parrafo {
    text-align: center;
    margin: auto;
}

.carrito-plus {
    text-align: center;
    color: #c90505;
    font-weight: bold;
    font-size: 40px;
}

.boton-carrito {
    @extend .boton-general;
    @include sizes (20rem, 4rem);
    font-size: 18px;
    font-weight: bold;
    margin: 5px auto 30px;
    border: 1px solid #111;

    &:hover {
        background: #dc3545;
        border: 0.5px solid #bd313f;
    }
    
    &:active {
        background:#b32a38;
        border: 0.5px solid #92232e;
    }

}

.metodo-pago-icon{
    height: 30px;
}

.metodo-pago-tarjeta{
    height: 40px;
}

.h2-carrito {
    color:#222;
    text-shadow:none;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

.div-qr{
    display: flex;
    justify-content: center;
}

.qr-pago{
    margin: auto;
    border: 2px solid black;
    width: 300px;
}

.texto-credito{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.texto-debito{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}