* {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    
    @if $oferta == "20%" {
        background-image: linear-gradient(to left top, #23476b, #124066, #472f55, #303868, #3d5264);
    } @else if $oferta == "30%" {
        background-image: linear-gradient(to left top, #2b1b72, #511077, #39174d, #32143a, #6c2c6e);
    } @else if $oferta == "40%" {
        background-image: linear-gradient(to left top, #855085, #7e3ba5, #7c1562, #8b0658, #cc215a);
    } @else {
        background-image: linear-gradient(to left top, #212529, #2a2f33, #33383d, #3c4348, #464d53);
    }
    color: #fff;
    position: relative;
    padding-top: 70px;
    padding-bottom: 145px;
    min-height: 100vh;
}

.h1 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 45px;
    font-family: 'Didact Gothic', sans-serif;

    font-weight: 200;
    text-shadow: 10px 10px 2px #000;
    letter-spacing: 3px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-top: 55px;
    padding-bottom: 20px;
    // text-shadow: 5px 5px 5px #111;
}

h3, h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
}

a {
        color: #FFF5EB;
        text-align: center;
        text-decoration: none;
}


/*Scrollbar*/

::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #111;
}

.btn{
    min-width: 50px;
}


/*EXTEND: agarro el codigo q comparten y lo extiendo funciona mas para propiedades similares*/ 

.boton-general {
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-shadow: 0 1px 0 #111;
    border-radius: 6px;
    box-shadow: 0 0 0 0.05rem #111;
}

/*MIXIN definir estilos que van a ser reutilizados*/

// MIXIN SIN PARAMETRO

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//MIXIN CON PARAMETROS 

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

@mixin spacing ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}