
/* HEADER */

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}

// nav {
//     height: 70px;
// }

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    margin-left: 20px;
}


.navbar-brand {

    img {
    @include sizes(50px, 50px);
    margin: 0px 40px;
    line-height: 50px;  
    border-radius: 50%;
    
    }
}

.navbar-texto {
    display: none;
}

.nav-link {
    color: #fff;
    text-decoration: none; 
    font-size: 17px;

    
    &:hover {
        background: #333;
        color: #FFF5EB;
        border-radius: 3px;
    }
}

.menu-toggle {
    color: #FFF5EB;
    font-size: 28px;
}

