
/* HEADER */

.header {
    background: #222;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.img-logo {
    @include sizes(50px, 50px);
    margin: 5px 30px;
    line-height: 60px;  
    border-radius: 50%;
}


.nav-links {
    color: #fff;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-ul-item {
    font-size: 17px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;

    i {
        font-size: 17px;
        margin-right: 5px;
    }
}



.nav-li-link {
    padding: 8px 10px;
    border-radius: 4px;

    &:hover {
        background: #333;
        color: #FFF5EB;
    }
}


