body {
    /* background-image: url("../img/fondox3.png"); */
    background-image: linear-gradient(to left top, #212529, #2a2f33, #33383d, #3c4348, #464d53);
    /* background-image: linear-gradient(to right, #212529, #272c30, #2d3338, #343a40, #3a4148); */
    color: #fff;
    position: relative;
    padding-top: 60px;
    padding-bottom: 145px;
    min-height: 100vh;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    text-shadow: 10px 10px 2px #000;
    letter-spacing: 3px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-top: 55px;
    padding-bottom: 20px;
    text-shadow: 5px 5px 5px #111;
}


/* HEADER */

.header {
    background: #222;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.img-logo {
    @include sizes(50px, 50px);
    margin: 5px 30px;
    line-height: 60px;  
    border-radius: 50%;
}


.nav-links {
    color: #fff;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-ul-item {
    font-size: 17px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;

    i {
        font-size: 17px;
        margin-right: 5px;
    }
}



.nav-li-link {
    padding: 8px 10px;
    border-radius: 4px;

    &:hover {
        background: #333;
        color: #FFF5EB;
    }
}


