/* INICIO */

.carousel {
    @include sizes(100%, 600px);
}
   
.carousel-item {
    @include sizes(100%, 600px);

    img {
        @include sizes(100%, 600px);
        object-fit: cover;
    }
    
    a {
        @include sizes(100%, 600px);
        object-fit: cover;
    }
}

// boton brillante

.btn-productos {
    cursor: pointer;
    position: relative;
    padding: 22px 46px;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255, 255, 255, .1);
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;

    transition: .4s;
}

.btn-productos:hover {
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #f9d923,
        #00a19d,
        #0c87b7,
        #cb49ff,
        #ff6666,
        #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 12s linear forwards;
}

@keyframes glow {
    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }
}

.btn-productos::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;

    
    filter: blur(36px);
    opacity: 0;
    transition: .4s ease-out;
}

.btn-productos:hover::before {
    opacity: 1;
    z-index: -1;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    z-index: 1;
}
   

.div-botones {
    margin: 30px;
    @include flex-center;
    height: 100px;

    a {
        text-align: center;
    }
}

.carrusel-h1 {
    font-size: 80px;
    text-shadow: 10px 10px 2px #000;
}

.div-redes-inicio {
    text-align: center;
    padding-bottom: 100px;
}



.fb1 {
    color:map-get($mapa-colores, fb );
}

.ig1 {
    color:map-get($mapa-colores, ig );
}

.tw1 {
    color:map-get($mapa-colores, tw );
}


.h2-mobile {
    display: none;
}

.cd-inicio-container {
    @include flex-center;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 60px;
}

.cd-inicio {
    @include sizes(500px, 400px);
    background-color: #212529;
    border-radius: 6px;

    img {
        @include sizes(500px, 340px);
        border-radius: 6px;
        object-fit: cover;
    }
    
}


.cd-inicio-h5 {
    text-align: center;
    padding-top: 10px;
}
   

.iconos {
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
}

.iconos .icono {
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
    
    transition: .3s ease-out;

    &:hover {
        scale: 1.15;
    }
}

.iconos .icono .fondo-ico {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #c4302b ;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transform:  rotate(14deg);
    transition: .3s ease-out;
}

.iconos .icono:hover .fondo-ico {
    transform: rotate(24deg);
}

.iconos .icono:nth-child(1) .fondo-ico {
    background:map-get($mapa-colores, fb );
}

.iconos .icono:nth-child(2) .fondo-ico {
    background:map-get($mapa-colores, ig );
}

.iconos .icono:nth-child(3) .fondo-ico {
    background:map-get($mapa-colores, tw );
}

.iconos .icono .glass-ico {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
}

.i-icono {
    font-size: 36px;
    color: rgba(255, 255, 255, .5);
}